/*body {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}*/

footer {
  color: greenyellow;
  text-align: center;
  padding: 10px 0 10px 0;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media (max-width: 600px) {
  footer {
    padding-top: 50px 0 20px 0;
  }
}

header {
  padding: 10px 0 0 0;
  box-shadow: 0 2px 0 rgba(26, 9, 211, 0.1);
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

@media (max-widhth: 600px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}

nav h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  font-style: normal;
  padding: 0 30px 0 0;
  word-wrap: break-word;
}

@media (max-width: 600px) {
  nav h1 {
    font-size: 16px; /*Smaller font on mobile*/
    line-height: 1.3;
    padding: 0 7px 0 0;
    margin-top: 25px;
  }
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: row;
    align-items: center;
    gap: 11px;
    padding: 0 11px 0 0;
  }
}

nav a {
  text-decoration: none;
  color: greenyellow;
  font-weight: bold;
  font-size: 17px;
}

@media (max-width: 600px) {
  nav a {
    font-size: 10px;
  }
}

nav a:hover {
  color: #f516d4;
  text-decoration: underline;
  transition: color 0.5s;
}

.auth-links {
  position: absolute;
  top: 10px;
  right: 30px;
}

@media (max-width: 600px) {
  .auth-links {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.auth-links a {
  color: greenyellow;
  font-weight: bold;
  margin-left: 15px;
  font-size: 16px;
  text-decoration: none;
}

@media (max-width: 600px) {
  .auth-links a {
    color: greenyellow;

    margin-left: 15px;
    font-size: 12px;
    text-decoration: none;
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .auth-links a :last-child {
    color: greenyellow;
    margin-right: 0;
  }
}

.auth-links a:hover {
  color: magenta;
  text-decoration: underline;
  transition: 0.5s;
}

.modal {
  position: fixed;
  z-index: 2000;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #999;
}

@media (max-width: 600px) {
  .modal {
    position: fixed;
    z-index: 2000;
    top: 40;
    left: 50;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}

.modal-content {
  background-color: #222;
  color: greenyellow;
  margin: 10% auto;
  padding: 3px 50px 10px 32px;
  border: 2px solid #888;
  width: 99%;
  max-width: 200px;
  border-radius: 20px;
  margin-top: -0.2px;
  margin-bottom: 2px;
}

.modal-content h2 {
  color: white;

  padding: 0 0 0 65px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

.modal-content button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.modal-content button:hover {
  color: magenta;
  transition-duration: 0.5s;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex: 1;
  padding-right: 50px;
}

.toggle-eye {
  position: absolute;
  right: 10px;
  cursor: pointer;
  user-select: none;
}

.close {
  color: red;
  float: right;
  font-size: 34px;
  font-weight: bold;
  cursor: pointer;
  margin-right: -40px;
}

body {
  background-color: rgb(50, 47, 47);
}

main {
  padding: 140px 40px 0 0px;

  /*max-width: 500px;*/
  margin: auto;
}

@media (max-width: 600px) {
  main {
    padding: 100px 0 0 6px;
  }
}

.hero h2 {
  color: #f516d4;

  text-align: left;
}

.hero p {
  font-size: 20px;
  padding: 0 0 0 0;
  text-align: left;
  color: white;
}

.hidden {
  display: none;
}

#quoteButton {
  background-color: #000000;
  color: greenyellow;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  text-align: center;
}

#quoteButton:hover {
  background-color: rgb(0, 0, 0);
  color: magenta;
  transition-duration: 0.5s;
}
.hero3,
a {
  color: white;
}

.hero3 a:hover {
  color: aquamarine;
  transition-duration: 0.5s;
}

*#quoteimage {
  width: 90%;
  height: auto;
  margin: 10px auto;
  display: block;
}
